{{define "admin/modifypwd"}}
{{template "header" .}}
{{template "res" .}}

{{template "crudtip" .}}
<style>
    .layui-form-labelcust{
        padding-left: 0px;
        width:60px;
    }
</style>
<form class="layui-form" method="post" action= "/admin/user/modifypwd" >
    <input type="hidden" name="__token" value="{{.__token}}">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" >

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label layui-form-labelcust">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label layui-form-labelcust">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="pass|required" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label layui-form-labelcust">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="repassword" lay-verify="repass|required" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    layui.use(['form'], function(){
        var form = layui.form;

        //监听提交
        form.on('submit(setmypass)', function(data){
            //layer.msg(JSON.stringify(data.field));
            return true;
        });

    });

</script>

{{template "footer" .}}
{{end}}
