{{define "admin/modulelist"}}
{{template "header" .}}
{{template "res" .}}

<div style="padding: 15px;bottom: 0px;">

    <div class="layui-btn-group">
        <button class="layui-btn" onclick="create()">新增根节点</button>
    </div>

    <div id="moduletree"></div>
</div>


<script type="text/html" id="crudtool">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    var layout = [
        { name: '模块名', treeNodes: true,headerClass: 'value_col', colClass: 'value_col', style: 'width: 20%' },
        { name: '链接地址', treeNodes: false,field: 'Url', headerClass: 'value_col', colClass: 'value_col', style: 'width: 50%' },
        {
            name: '操作',
            headerClass: 'value_col',
            colClass: 'value_col',
            style: 'width: 30%',
            render: function(row) {
                return '<a class="layui-btn layui-btn-mini" onclick=createChild("' + row.id + '")> 新增下级</a>'
                        +'<a class="layui-btn  layui-btn-mini" onclick=editNode("' + row.id + '")> 编辑</a>'
                        +'<a class="layui-btn layui-btn-danger layui-btn-mini" onclick=deleteNode("' + row.id + '",'+row.isleaf+')> 删除</a>'; //列渲染
            }
        }
    ];

    function loadTree() {
        var layer = layui.layer, form = layui.form, $ = layui.jquery;

        $.getJSON("/admin/module/tree",function(result){
            if(result&& result.length){
                var tree1 = layui.treeGird({
                    elem: '#moduletree', //传入元素选择器
                    spreadable: true, //设置是否全展开，默认不展开
                    checkbox : false,
                    nodes: result,
                    layout: layout
                });
            }else{
                var tree1 = layui.treeGird({
                    elem: '#moduletree', //传入元素选择器
                    spreadable: true, //设置是否全展开，默认不展开
                    checkbox : false,
                    nodes: [],
                    layout: layout
                });
            }
        });

        form.render();

        $('#collapse').on('click', function() {
            layui.collapse(tree1);
        });

        $('#expand').on('click', function() {
            layui.expand(tree1);
        });

        // var arr = layui.getSelected(tree1);
        // console.log(arr.length)
    }

    layui.use(['form', 'tree', 'layer'], function() {
        loadTree();

    });

    function create() {
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            title:"创建",
            content: '/admin/module/create?Pid=__root__',
            cancel: function(){location.reload();}
        })
    }

    function createSide(pid){
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            title:"创建",
            content: '/admin/module/create?Pid='+pid,
            cancel: function(){location.reload();}
        })
    }

    function createChild(id){
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            title:"创建",
            content: '/admin/module/create?Pid='+id,
            cancel: function(){location.reload();}
        })
    }

    function editNode(id){
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            title:"编辑",
            content: '/admin/module/edit?Id='+id,
            cancel: function(){location.reload();}
            })
    }

    function deleteNode(id,isleaf){
        if(isleaf == 0){
            return ;
        }
        layer.confirm('真的删除行么', function(index){
            layer.close(index);

            var url = "/admin/module/delete?Id="+id;
            $.post(url, {}, function(result){
                location.reload();
                if(result.Code!=0){
                //alert(data.Id)
                }
            });

            //向服务端发送删除指令
        });
    }
    


</script>

{{template "footer" .}}
{{end}}