{{define "admin/usercrud"}}
{{template "header" .}}
{{template "res" .}}

{{template "crudtip" .}}

<div style="padding: 15px;">

    <form class="layui-form" method="post"
    {{if .isCreate}}
          action="/admin/user/add"
    {{else}}
    {{if .isEdit}}
          action= "/admin/user/update"
    {{end}}
    {{end}}
    >
        <input type="hidden" name="Id" value="{{.data.Id}}">
        <input type="hidden" name="__token" value="{{.__token}}">
        <div class="layui-form-item">
            <label class="layui-form-label">账户名</label>
            <div class="layui-input-block">
                <input type="text" name="UserName" required  lay-verify="required" placeholder="请输入账户名" autocomplete="off" class="layui-input" value="{{.data.UserName}}" {{.inputTag}}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="Password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">重复密码</label>
            <div class="layui-input-inline">
                <input type="password" name="Password2" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="RealName" required  lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input" value="{{.data.RealName}}" {{.inputTag}}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-block">
                <input type="text" name="Phone" required  lay-verify="required" placeholder="请输入手机" autocomplete="off" class="layui-input" value="{{.data.Phone}}" {{.inputTag}}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="Email" required  lay-verify="required" placeholder="请输入地址" autocomplete="off" class="layui-input" value="{{.data.Email}}" {{.inputTag}}>
            </div>
        </div>



    {{if not .inputTag}}
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    {{end}}
    </form>

</div>




<script>

    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            //layer.msg(JSON.stringify(data.field));
            return true;
        });
    });
</script>

{{template "footer" .}}
{{end}}